#pagina{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	
	.logoDestructores{
		display: block;
		background: url(../images/logo_destructores.gif) 0 0 no-repeat;
		width: 179px;
		height: 58px;
	}
	.logoDestructores span{
		display: none;
	}
	
	> footer{
		padding: 2.0625em 0; // 33px
		overflow: hidden;
		
		h2{
			font: 0.9375em "Londrina solid", cursive;
			letter-spacing: 0.5em;
			color: White;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 1em;
		}
		ul{
			$numBanners: 4;
			$anchoPie: 680px;		
			
			clear: both;
			margin: 0 auto;
			text-align: justify;
			width: $anchoPie;
			
			li{
				display: inline;
				float: left;
				width: ($anchoPie / $numBanners);			
				
				&:first-child{
					margin-left: 0;
				}
				&:last-child{
					margin-right: 0;
				}
				
				a{
					display: block;
					margin: 0 auto;
					width: 143px;
					font: 0.9375em "Londrina solid", cursive;
				    text-transform: uppercase;
				    color: #FFDB38;
				    text-decoration: none;
				    text-align: center;
				    overflow: hidden;
				    
				    img{
						display: block;
						margin-bottom: 0.25em;
					}    
				}
			}
			
		}
	}
}