<div>
    <h1><a class="logo" href="/" title="Ir a la portada"><img src="{{ site.BaseURL }}images/batelfiel/titulo.png" width="497" height="119" alt="Logo Batelfiel"/></a><span>Batelfiel</span></h1>
    <div class="social">
        <h2>Síguenos</h2>
        <ul>
            <li class="rss"><a type="application/rss+xml" href="#" title="Feed RSS"><span>RSS</span></a></li>
            <li class="battlelog"><a href="http://battlelog.battlefield.com/bf3/es/platoon/2832655391414984164/" title="Nuestro pelotón de BF3 en Battlelog" rel="external"><span>Nuestro pelotón de BF3 en Battlelog</span></a></li>
            <li class="gplus"><a href="https://plus.google.com/106726614671254301219/posts" title="Destructores en Google Plus" rel="external"><span>Google Plus</span></a></li>
            <li class="twitter"><a href="https://twitter.com/destructorespro" title="Destructores en Twitter" rel="external"><span>Twitter</span></a></li>
            <li class="facebook"><a href="http://www.facebook.com/pages/Destructores-Productions/331034236992493" title="Destructores en Facebook" rel="external"><span>Facebook</span></a></li>
        </ul>
    </div>
</div>