{{ define "main" }}
{{/*
	{{ $orderedPages := .Pages.ByParam "Params.order" }}
	<!-- {{ .Paginate $orderedPages 1 }} -->

	{{ $currentPage := index (first 1 .Paginator.Pages) 0 }}
	{{ $pageImages := $currentPage.Resources.ByType "image" }}			
	{{ $comicstrip := "" }}

	{{ range $pageImages }}
		{{ if not (findRE ".+_miniatura.+" .Name) }}
			{{ $comicstrip = . }}	
		{{ end }}
	{{ end }}

	<article>
		
		<div id="visor">
		
			<h1>Título tira</h1>
			<div id="compartir">
				<p>Comparte esta tira:</p>
				<div class="addthis_toolbox addthis_default_style " addthis:url="<?= $this->urlTiraActual ?>">
					<a class="addthis_button_preferred_1"></a>
					<a class="addthis_button_preferred_2"></a>
					<a class="addthis_button_preferred_3"></a>
					<a class="addthis_button_preferred_4"></a>
					<a class="addthis_button_compact"></a>
					<a class="addthis_counter addthis_bubble_style"></a>
				</div>
				<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-5050d5b8725ae25c"></script>
			</div>			

			<img class="vistaPrevia" src="{{ $comicstrip.RelPermalink }}" alt="Tira #{{ $currentPage.Params.order }}"/>
			<ul>
				<li class="primera"><a class="activo" href="{{ .Paginator.First.URL }}">Ver la más antigua</a></li>

				{{ if .Paginator.HasPrev }}

					<li class="anterior">
						<a class="activo" href="{{ .Paginator.Prev.URL }}">Tira anterior</a>
					</li>					

				{{ end }}

				{{ if .Paginator.HasNext }}

					<li class="siguiente">
						<a class="activo" href="{{ .Paginator.Next.URL }}">Tira siguiente</a>
					</li>

				{{ end }}
				<li class="ultima"><a class="activo" href="{{ .Paginator.Last.URL }}">Ver la más reciente</a></li>
			</ul>
		</div>
		<div id="miniaturas">
			<ul>
				{{ if .Paginator.HasPrev }}

					<li class="anterior">
						<a href="{{ .Paginator.Prev }}" title="Página anterior"><span>Página anterior</span></a>
					</li>

				{{ end }}
				
				{{ range $index,$page := $orderedPages }}

					{{ $images := .Resources.ByType "image" }}
					{{ $thumbnail := "" }}
					{{ $main := "" }}

					{{ range $images }}
						{{ if findRE ".+_miniatura.+" .Name }}
							{{ $thumbnail = . }}
						{{ else }}
							{{ $main = . }}
						{{ end }}
					{{ end }}
					
					{{ $actual := (eq $page.Params.order $currentPage.Params.order) }}
					{{ $id := $page.Params.order }}
					{{ $pubDate := "_PUBDATE_" }}
					
					<li class="miniatura col_{{ add $index 1 }}{{ if $actual }} actual{{ end }}">
						<a href="{{ $page.RelPermalink }}" data-urlimagen="{{ $main.RelPermalink }}">
							<span></span>
							<img src="{{ $thumbnail.RelPermalink }}" alt="Miniatura de tira #{{ $id }}" />
						</a>
						<p>{{ (print $id ". " .Title "<br/>" $pubDate) | safeHTML }}</p>
					</li>					

				{{ end }}
			
				{{ if .Paginator.HasNext }}

					<li class="siguiente">
						<a href="{{ .Paginator.Next.URL }}" title="Página siguiente"><span>Página siguiente</span></a>
					</li>

				{{ end }}
			</ul> 
		</div>
		<a class="logoDestructores" href="{{ site.BaseURL }}" title="Destructores Productions"><span>Destructores Productions</span></a>
	</article>
	*/}}
{{ end }}