<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "es" }}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="format-detection" content="telephone=no" />			
		<meta name="description" content="" />
		<link rel="shortcut icon" type=image/png href="{{ "images/batelfiel/favicon.png" | absURL }}" />
		<title>Batelfiel</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton|Londrina+Solid&display=swap" />

		{{ $options := (dict "outputStyle" "compressed" "targetPath" "/css/main.css") }}
		{{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options }}
		<link rel="stylesheet" href="{{ $style.RelPermalink }}" />

	</head>
	<body class="body">
		<div id="pagina">
			<header>{{ partial "header" . }}</header>
						
			<section id="contenido">
				<div class="dec1">
					<div class="dec2">{{ block "main" . }}{{ end }}</div>
				</div>
			</section>
				
			<footer>{{ partial "footer" . }}</footer>
		</div>

		<script src="{{ "js/general.js" | absURL }}"></script>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-5050d5b8725ae25c"></script>
	</body>
</html>
